html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    background-color:#00011b;
}
* {
  box-sizing: border-box;
}


hr{
  border-top: 0.5px solid grey;
  opacity: 0.2;

  margin-top: 3rem;

}
a{
  color:white;
  text-decoration: none;
}
@media screen and (max-width: 1307px){
.footer-img {
    width: 100px;
    right: 0;
    height: 200px;
}}
.footer-img{
  width: 247px;
  height: 166px;
}

 
  .active{
    background: linear-gradient(180deg, rgba(255, 153, 109, 0) 43.13%, rgba(250, 0, 0, 0.673) 100%);
  }
