html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    background-color:#00011b;
}
* {
  box-sizing: border-box;
}

.main-div{
  width:80%;
  margin:0 auto;
}
hr{
  border-top: 0.5px solid grey;
  opacity: 0.2;

  margin-top: 3rem;

}
a{
  color:white;
  text-decoration: none;
}
@media screen and (max-width: 1307px){
.footer-img {
    width: 100px;
    right: 0;
    height: 200px;
}}
.footer-img{
  width: 247px;
  height: 166px;
}
.setup{
  display:flex;
  flex-direction: row;
  justify-self: space-between;
  flex-wrap: wrap;
  gap:7rem;
  
}
.sold-out div{
  font-family: 'Montserrat',sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 25.7745px;
  width:185px;
  position: absolute;
  text-align: center;
  z-index: 30;
  }
  .sold-out
  {
      background-color: black;
      color:red;
      border:4px solid red;
      width:273px;
  
      height: 43px;
      display: flex; 
      align-items: center;
      justify-content: center;
      position: fixed;
      top:100px;
    z-index:40;
      margin-left:20px;
  }
  .setup{
    display: flex;
    flex-direction: row;
    justify-self: space-between;
    flex-wrap: wrap;
    gap: 7rem;
  }
  .flex1{
    display: flex;
    gap:2rem;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .active{
    background: linear-gradient(180deg, rgba(255, 153, 109, 0) 43.13%, rgba(250, 0, 0, 0.673) 100%);
  }
